---
import Layout from '../layouts/Layout.astro';

import { getCurrentUser } from '../utils/auth';

const url = new URL(Astro.request.url);
const params = new URLSearchParams(url.search);
const code = params.get('id');

const user = getCurrentUser(Astro.cookies);
if (!user) {
    return Astro.redirect('/' + (code ? `?enroll=${code}` : ''));
}
---

<Layout>
    <h1>Enroll new Smart Mailbox</h1>
    <form id="enroll-form">
        <div>
            <label for="public_code">Enter the 7-character code on the back of your Smart Mailbox</label>
            <input type="text" id="public_code" name="public_code" maxlength=7 value={code} required>
        </div>
        <div>
            <button type="submit">Enroll</button>
        </div>
        <div id="enroll-message"></div>
    </form>
</Layout>

<style>
    
</style>

<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById('enroll-form');
        const message = document.getElementById('enroll-message');

        form?.addEventListener('submit', async (event) => {
            event.preventDefault();

            const inputs = form.querySelectorAll('input, button');
            inputs.forEach(e => e.disabled = true);

            message.textContent = '';

            const public_code = (form.querySelector('input[name="public_code"]')).value;

            let enrolled = false;
            let loggedOut = false;
            
            try {
                const response = await fetch('/api/user/enroll', {
                    method: 'POST',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ public_code }),
                });

                if (response.ok) {
                    message.textContent = 'Enrolled successfully!';
                    message.style.color = 'green';

                    enrolled = true;

                } else if (response.status === 401) {
                    message.textContent = 'You were logged out. Please log in again.';
                    message.style.color = 'red';

                    loggedOut = true;

                } else {
                    message.textContent = 'Something seems wrong. Please try again.';
                    message.style.color = 'red';
                }

            } catch (error) {
                message.textContent = 'An error occurred. Please try again.';
                message.style.color = 'red';

            } finally {
                if (loggedOut) {
                    setTimeout(() => { window.location = '/'; }, 1000);
                } else if (enrolled) {
                    setTimeout(() => { window.location = `/mailboxes#_${public_code}`; }, 1000);
                } else {
                    inputs.forEach(e => e.disabled = false);
                }
            }
        });
    });
</script>
