---
import Layout from '../layouts/Layout.astro';

import { getCurrentUser } from '../utils/auth';
import env from "../utils/env";

const user = getCurrentUser(Astro.cookies);
if (user) {
    return Astro.redirect('/mailboxes');
}

const url = new URL(Astro.request.url);
const params = new URLSearchParams(url.search);
const add_code = params.get('add');
---

<Layout index>
    <form id="login-form" class="thing">
        <h1>Log in to your account</h1>
        <div>
            <label>Username:</label>
            <input type="text" name="username" required />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div id="login-message" class="err"></div>
        <a id="want-register" href="#">...I don't have an account yet</a>
    </form>
    <form id="register-form" class="thing" style="display: none;" autocomplete="new-password">
        <h1>Register a new account</h1>
        <div>
            <label>Username:</label>
            <input type="text" name="username" required autocomplete="new-password" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required autocomplete="new-password" />
        </div>
        <div>
            <label>Repeat Password:</label>
            <input type="password" name="repeat" required autocomplete="new-password" />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <div id="register-message" class="err"></div>
        <a id="want-login" href="#">...I already have an account</a>
    </form>
</Layout>

<style>
    @media (max-width: 520px) {
        .thing form {
            padding: 1.5rem;
        }
    }

    .thing div {
        margin-bottom: 1.5rem;
    }

    .thing button {
        width: 100%;
    }

    label {
        text-align: left;
    }
</style>

<script define:vars={{
    cookieName: env.cookieName,
    maxAge: env.maxAge,
    add_code
}} is:inline>
    async function submit(form, message, action, text) {
        const btn = form.querySelector('button');
        const inputs = form.querySelectorAll('input, button');
        const links = document.querySelectorAll('form > a');
        inputs.forEach(e => e.disabled = true);
        links.forEach(e => e.style.display = 'none');

        message.textContent = '';

        const username = form.querySelector('input[name="username"]').value;
        const password = form.querySelector('input[name="password"]').value;

        const repeatElement = form.querySelector('input[name="repeat"]');

        if (repeatElement) {
            const repeat = repeatElement.value;

            if (password !== repeat) {
                message.textContent = 'Passwords do not match.';
                message.style.color = 'red';
                inputs.forEach(e => e.disabled = false);
                links.forEach(e => e.style.display = null);
                return;
            }
        }

        let loggedIn = false;

        try {
            const response = await fetch(action, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });

            if (response.ok) {
                btn.textContent = `${text} successful!`;

                loggedIn = true;

            } else {
                message.textContent = 'Something seems wrong. Please try again.';
            }

        } catch (error) {
            message.textContent = 'An error occurred. Please try again.';

        } finally {
            if (loggedIn) {
                setTimeout(() => {
                    window.location = add_code? `/add?id=${add_code}` : '/mailboxes';
                }, 1000);
            } else {
                inputs.forEach(e => e.disabled = false);
                links.forEach(e => e.style.display = null);
            }
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const wantRegister = document.getElementById('want-register');
        const wantLogin = document.getElementById('want-login');

        const loginForm = document.getElementById('login-form');
        const loginMessage = document.getElementById('login-message');

        const registerForm = document.getElementById('register-form');
        const registerMessage = document.getElementById('register-message');

        wantRegister?.addEventListener('click', (event) => {
            event.preventDefault();

            if (wantRegister.style.display === 'none')
                return;

            loginForm.style.display = 'none';
            registerForm.style.display = null;
        });

        wantLogin?.addEventListener('click', (event) => {
            event.preventDefault();

            if (wantLogin.style.display === 'none')
                return;

            registerForm.style.display = 'none';
            loginForm.style.display = null;
        });

        loginForm?.addEventListener('submit', async (event) => {
            event.preventDefault();
            await submit(loginForm, loginMessage, '/api/user/login', 'Login');
        });

        registerForm?.addEventListener('submit', async (event) => {
            event.preventDefault();
            await submit(registerForm, registerMessage, '/api/user/register', 'Registration');
        });
    });
</script>
