---
import Layout from '../layouts/Layout.astro';

import { getCurrentUser } from '../utils/auth';
import env from "../utils/env";

const user = getCurrentUser(Astro.cookies);
if (user) {
    return Astro.redirect('/mailboxes');
}

const url = new URL(Astro.request.url);
const params = new URLSearchParams(url.search);
const enroll_code = params.get('enroll');
---

<Layout index>
    <form id="login-form">
        <span>Log in to your account</span>
        <div>
            <label>Username:</label>
            <input type="text" name="username" required />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div id="login-message"></div>
        <a id="want-register" href="#">...I don't have an account yet</a>
    </form>
    <form id="register-form" style="display: none;" autocomplete="new-password">
        <span>Register a new account</span>
        <div>
            <label>Username:</label>
            <input type="text" name="username" required autocomplete="new-password" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required autocomplete="new-password" />
        </div>
        <div>
            <label>Repeat Password:</label>
            <input type="password" name="repeat" required autocomplete="new-password" />
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
        <div id="register-message"></div>
        <a id="want-login" href="#">...I already have an account</a>
    </form>
</Layout>

<style>
    
</style>

<script define:vars={{
    cookieName: env.cookieName,
    maxAge: env.maxAge,
    enroll_code,
}} is:inline>
    async function submit(form, message, action, text) {
        const inputs = form.querySelectorAll('input, button');
        inputs.forEach(e => e.disabled = true);

        message.textContent = '';

        const username = form.querySelector('input[name="username"]').value;
        const password = form.querySelector('input[name="password"]').value;

        const repeatElement = form.querySelector('input[name="repeat"]');

        if (repeatElement) {
            const repeat = repeatElement.value;

            if (password !== repeat) {
                message.textContent = 'Passwords do not match.';
                message.style.color = 'red';
                inputs.forEach(e => e.disabled = false);
                return;
            }
        }

        let loggedIn = false;

        try {
            const response = await fetch(action, {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });

            if (response.ok) {
                message.textContent = `${text} successful!`;
                message.style.color = 'green';

                loggedIn = true;

            } else {
                message.textContent = 'Something seems wrong. Please try again.';
                message.style.color = 'red';
            }

        } catch (error) {
            message.textContent = 'An error occurred. Please try again.';
            message.style.color = 'red';

        } finally {
            if (loggedIn) {
                setTimeout(() => {
                    window.location = enroll_code? `/enroll?id=${enroll_code}` : '/mailboxes';
                }, 1000);
            } else {
                inputs.forEach(e => e.disabled = false);
            }
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const wantRegister = document.getElementById('want-register');
        const wantLogin = document.getElementById('want-login');

        const loginForm = document.getElementById('login-form');
        const loginMessage = document.getElementById('login-message');

        const registerForm = document.getElementById('register-form');
        const registerMessage = document.getElementById('register-message');

        wantRegister?.addEventListener('click', (event) => {
            event.preventDefault();
            loginForm.style.display = 'none';
            registerForm.style.display = null;
        });

        wantLogin?.addEventListener('click', (event) => {
            event.preventDefault();
            registerForm.style.display = 'none';
            loginForm.style.display = null;
        });

        loginForm?.addEventListener('submit', async (event) => {
            event.preventDefault();
            await submit(loginForm, loginMessage, '/api/user/login', 'Login');
        });

        registerForm?.addEventListener('submit', async (event) => {
            event.preventDefault();
            await submit(registerForm, registerMessage, '/api/user/register', 'Register');
        });
    });
</script>
