---
import Layout from '../layouts/Layout.astro';
import type { Token } from '../utils/types';
---

<Layout>
    {(user: Token) => <>
        <p>Welcome, {user.username}!</p>
        <h1>Your Smart Mailboxes</h1>
        <button id="enroll">Enroll new Smart Mailbox</button>

    </>}
</Layout>

<style>
    
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const enroll = document.getElementById('enroll');
        
        enroll?.addEventListener('click', () => {
            window.location.href = '/enroll';
        });
    });
</script>
