---
import Layout from '../layouts/Layout.astro';

import { getCurrentUser } from '../utils/auth';
import { db } from '../utils/db';

const user = getCurrentUser(Astro.cookies);
if (!user) {
    return Astro.redirect('/');
}
---

<Layout>
    <p>Welcome, {user.username}!</p>
    <h1>Your Smart Mailboxes</h1>
    <button id="enroll">Enroll new Smart Mailbox</button>
</Layout>

<style>
    
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const enroll = document.getElementById('enroll');
        
        enroll?.addEventListener('click', () => {
            window.location.href = '/enroll';
        });
    });
</script>
