---
import Layout from '../layouts/Layout.astro';
---

<Layout index>
    <form action="/api/login" accept-charset="UTF-8" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</Layout>

<style>
    
</style>
