---
import type { Token } from '../utils/types';

interface Props {
    user: Token;
}

const { user } = Astro.props;
---

<div>
    <span>Logged in as {user.username}</span>
    <button id="logoutBtn">Logout</button>
</div>

<script is:inline>
    document.addEventListener('DOMContentLoaded', () => {
        const logoutBtn = document.getElementById("logoutBtn");
        
        logoutBtn?.addEventListener('click', async () => {
            logoutBtn.disabled = true;

            let loggedOut = false;

            try {
                const res = await fetch('/api/user/logout', {
                    method: 'POST',
                    credentials: 'same-origin'
                });
                if (res.ok) {
                    loggedOut = true;
                }
            } finally {
                if (loggedOut) {
                    window.location.href = '/';
                } else {
                    logoutBtn.disabled = false;
                }
            }
        });
    });
</script>
